* {
    font-family: 'Roboto', serif;
}


.button-back {
    position: fixed;
    margin-top: -10rem;
    margin-left: -5rem;
    background-color: #f4666d;
    border-radius: 1.3rem;
    padding: 0.6rem 7rem;
    opacity: 85%;
    cursor: pointer;
    transition: 0.3s;
    color: #fff;
    text-align: left;
}

.button-back:hover {
    opacity: 100%;
}

.card {
    margin: 20rem;
    width: 40rem;
    height: auto;
    max-height: 50rem;
    padding: 3.5rem 5rem;
    gap: 3rem;
}

form {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

input {
    width: auto;
    height: 2.3rem;
    outline: none;
    border: #737373 solid 0.1rem;
    border-radius: 0.3rem;
    padding: 0.5rem;
    font-size: 1.15rem;
    transition: 0.2s;

}

input:hover {
    box-shadow: 2px 1px 0.5rem #dddddd;

}

input:focus {
    border: #f8858a solid 0.1rem;
    box-shadow: 2px 1px 0.5rem #f4bec1;
}

.form-footer {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

button {
    cursor: pointer;
    padding: 0.8rem 1rem;
    border: none;
    border-radius: 1.4rem;
    background-color: #f5f5f5;
    font-size: 1rem;
    transition: 0.3s;
}

.primary-button {
    background-color: #F2545B;
    color: #fff;
}

.primary-button:hover {
    box-shadow: 2px 1px 0.5rem #f48b90;

}

.secondary-button:hover {
    background-color: #e1e1e1;
}

.delete-button {
    background-color: #f0d8da;
    color: #FF0000;
    transition: 0.1s;
    display: none;
}

.delete-button:hover {
    scale: 1.01;
    box-shadow: 1px 1px 0.5rem #f5a0a2;

}

.form-row {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
}

.form-title {
    font-weight: 600;
    font-size: 2rem;
    letter-spacing: 0.05rem;
}

